.gradle/
**/build
**/bin
target/
.project
.classpath
.settings/
.idea/
*.iml
*.ipr
*.iws
tools/
*.swp
*.DS_Store
/deployment/signingkey.asc
/secring.gpg
/core/out
/extensions/*/out
/jmh-benchmark/out
