trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'
variables:
- group: Security
- name: 'DISPLAY'
  value: ':1'

steps:
- task: DownloadSecureFile@1
  name: signingkey
  inputs:
    secureFile: 'signingkey.asc'
- task: DownloadSecureFile@1
  name: signingkey_private
  inputs:
    secureFile: 'signingkey.private.asc'
- script: |-
    sudo apt-get update
    sudo apt-get install gnupg
    mkdir -p $(Agent.HomeDirectory)/gpg
    gpg --keyring=$(Agent.HomeDirectory)/gpg/pubring.gpg --no-default-keyring --batch --import $(signingkey.secureFilePath)
    gpg --keyring=$(Agent.HomeDirectory)/gpg/secring.gpg --no-default-keyring --batch --allow-secret-key-import --import $(signingkey_private.secureFilePath)
  displayName: 'Installing gpg'
- bash: |
    set -e
    set -x
    sudo apt install metacity       
    Xvfb :1 &
    sleep 5
    metacity --sm-disable --replace 2> metacity.err &
  displayName: Setup Window Manager
- script: |-
    wget https://cdn.azul.com/zulu/bin/zulu8.40.0.25-ca-fx-jdk8.0.222-linux_x64.tar.gz -O zulufx.tar.gz
    mkdir -p $(Agent.HomeDirectory)/zulufx && tar -xf zulufx.tar.gz -C $(Agent.HomeDirectory)/zulufx --strip-components=1
  displayName: 'Installing javafx'
- task: Gradle@2
  inputs:
    options: >-
        -PmavenUsername=$(ARTIFACTORY_USERNAME)
        -PmavenPassword=$(ARTIFACTORY_PASSWORD)
        -PmavenSnapshotsRepositoryId=$(ARTIFACTORY_SNAPSHOT_REPO)
        -PmavenSnapshotsRepositoryUrl=$(ARTIFACTORY_URL)
        -PmavenStagingRepositoryId=$(ARTIFACTORY_REPO)
        -PmavenStagingRepositoryUrl=$(ARTIFACTORY_URL)
        -Psigning.keyId=$(signingkey_id)
        -Psigning.password=$(signingkey_passphrase)
        -Psigning.secretKeyRingFile=$(Agent.HomeDirectory)/gpg/secring.gpg
    tasks: 'uploadArchives'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'path'
    jdkDirectory: $(Agent.HomeDirectory)/zulufx
    jdkArchitectureOption: 'x64'
    gradleOptions: '-Xmx3072m'
